{# 导航菜单组件 #}
<ul class="navbar-nav ms-auto" id="mainNavMenu">
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-home me-1"></i>首页
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-chart-line me-1"></i>资源概览
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/etl">
            <i class="fas fa-sync-alt me-1"></i>ETL任务
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/data-sources">
            <i class="fas fa-server me-1"></i>数据源管理
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/metadata">
            <i class="fas fa-table me-1"></i>元数据浏览
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history">
            <i class="fas fa-history me-1"></i>抽取历史
        </a>
    </li>
    <li class="nav-item" id="userManageNav">
        <a class="nav-link" href="/users">
            <i class="fas fa-users me-1"></i>用户管理
        </a>
    </li>
</ul>
